<div *ngIf="racePerSeason$ | async as races">
  <h2>Races with final result</h2>
  <app-season-and-pagination
    [limit]="+$any(paginationSelected$ | async)"
    [offset]="+races.MRData.offset"
    [total]="+races.MRData.total"
    (offsetChange)="setOffset($event)"
  ></app-season-and-pagination>
  <table>
    <tr>
      <th>Race</th>
      <th>Date</th>
      <th>Winner</th>
      <th>Car</th>
      <th>Laps</th>
      <th>Time</th>
    </tr>
    <tr *ngFor="let race of races.MRData.RaceTable.Races">
      <ng-container *ngIf="race.finalResult | async as result">
        <td>
          {{ race.raceName }}
        </td>
        <td>{{ race.date }}</td>
        <td>
          {{ $any(result)[0].Driver?.givenName }}
          {{ $any(result)[0].Driver?.familyName }}
        </td>
        <td>{{ $any(result)[0].Constructor?.name }}</td>
        <td>{{ $any(result)[0].laps }}</td>
        <td>{{ $any(result)[0].Time?.time }}</td>
      </ng-container>
    </tr>
  </table>
</div>
